<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konnect</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</head>

<body>
    <div class="main-content">
        <br><br><br><br><br><br>
        <h1 class="error-main" style="display: flex; align-items: center; justify-content: center;">404 PAGE NOT FOUND :(</h1>
        <br><br>
            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_CiKDQB.json" background="transparent" speed="1" style="height: 40vh;" loop autoplay>
            </lottie-player>
    </div>

</body>

</html>