<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.js"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <!-- FIREBASE -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-database.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-analytics.js"></script>


    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/css/util.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main_admin_login.css">

    <title>Forgot Password</title>
</head>

<body
    style="background-image: url('img/main-bg4.jpg'); background-size:zoom; display:flex; align-items:center; justify-content:center">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_IQ2Fuq.json"
                        background="transparent" speed="1" style="justify-content: center;" loop autoplay>
                    </lottie-player>
                </div>
                <form class="login100-form validate-form" method="POST">
                    <span class="login100-form-title">
                        Forgot Password
                    </span>
                    <span class="form-group" style="text-align: center;">
                        Please enter your email address and we will contact you shortly.
                    </span>
                    <div class="wrap-input100 validate-input" style="margin-top: 30px;"
                        data-validate="Valid username is required">
                        <input id="email" class="input100" type="email" name="email" placeholder="Email Address">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100" style="margin-left: 25px;">
                            <i class="zmdi zmdi-email"></i>
                        </span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button id="btn-resetPassword" class="login100-form-btn" type="button" value="Login">
                            Reset Password
                        </button>
                    </div>

                    <div class="w-full text-center" style="margin-top: 30px; font-size: 14px;">
                        <a href="/" class="text-dark">
                            Memory recovered ? Login
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/index.js"></script>
    <script src="/vendor/jquery/dist/jquery.slim.min.js"></script>
    <script src="/vendor/tilt.js/dest/tilt.jquery.js"></script>
    <script>
        firebase.auth().onAuthStateChanged(function (user) {

            if (user) {
                window.location.href = "/home"
            }
        });
    </script>
</body>

</html>